<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.CategoryMapper">
	<!-- 查询分类列表resultMap -->
	<resultMap type="Category" id="queryCategoryListResultMap">
		<id column="cat1id" property="id"/>
		<result column="cat1name" property="name"/>
		<collection property="childCategoryList" ofType="Category">
			<id column="cat2id" property="id"/>
			<result column="cat2name" property="name"/>
			<collection property="childCategoryList" ofType="Category">
				<id column="cat3id" property="id"/>
				<result column="cat3name" property="name"/>
			</collection>
		</collection>
	</resultMap>

	<!-- 查询分类列表 -->
	<select id="queryCategoryList" resultMap="queryCategoryListResultMap">
		select cat1.id cat1id, cat1.`name` cat1name, cat2.id cat2id, cat2.`name` cat2name, cat3.id cat3id, cat3.`name` cat3name from category cat1
		LEFT JOIN category cat2 on cat1.id = cat2.pid
		LEFT JOIN category cat3 on cat2.id = cat3.pid
		where cat1.`level` = 1 and cat2.`level` = 2 and cat3.`level` = 3
	</select>
	
	<!-- 查询推荐分类resultMap -->
	<resultMap type="Category" id="queryRecommendCategoryResultMap">
		<id column="c1id" property="id"/>
		<result column="c1name" property="name"/>
		<collection property="goods" ofType="Goods">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="img" property="img"/>
			<result column="marketprice" property="marketprice"/>
			<result column="sellprice" property="sellprice"/>
			<result column="clickcount" property="clickcount"/>
		</collection>
	</resultMap>
	
	<!-- 查询推荐分类 -->
	<select id="queryRecommendCategory" resultMap="queryRecommendCategoryResultMap">
		SELECT c1.id c1id, c1.`name` c1name, g.id, g.`name`, g.img, g.marketprice, g.sellprice, g.clickcount FROM `category` c1, goods g
		where c1.isRecommend = 0 AND g.categoryId = c1.id
		ORDER BY g.clickcount DESC
		LIMIT 10;
	</select>
</mapper>