<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.GoodsMapper">
	<select id="queryGoodsCount" resultType="int">
<!-- 		SELECT count(*) from goods -->
		SELECT (t.AUTO_INCREMENT - 1) count from information_schema.`TABLES` t 
		where t.TABLE_SCHEMA = 'myshop' AND t.TABLE_NAME = 'goods'
	</select>
	
	<select id="querySearchGoodsCount" parameterType="Goods" resultType="int">
<!-- 		SELECT count(*) from goods where name LIKE '${name}%' -->
		SELECT (t.AUTO_INCREMENT - 1) count from information_schema.`TABLES` t 
		where t.TABLE_SCHEMA = 'myshop' AND t.TABLE_NAME = 'goods'
	</select>

	<!-- 查询商品按时间排序 -->
	<select id="queryGoodsTime" parameterType="PageModel" resultType="Goods">
<!-- 		SELECT -->
<!-- 		g.id, g.name, g.img, g.marketprice, g.sellprice from goods g ORDER BY g.createtime DESC  -->
<!-- 		LIMIT #{startIndex}, #{pageSize} -->
		<![CDATA[SELECT g.id, g.name, g.img, g.marketprice, g.sellprice from goods g 
		where g.createtime <= (select createtime from goods ORDER BY createtime DESC LIMIT #{startIndex}, 1)
		ORDER BY g.createtime DESC LIMIT #{pageSize}]]>
	</select>

	<!-- 查询商品按点击数排序 -->
	<select id="queryGoodsClickcount" resultType="Goods">
		SELECT id, name, img, clickcount from goods ORDER BY clickcount DESC LIMIT 5
	</select>
	
	<!-- 查询商品按点击数排序带分页 -->
	<select id="queryGoodsClickcountPage" parameterType="PageModel" resultType="Goods">
<!-- 		SELECT  -->
<!-- 		g.id, g.name, g.img, g.marketprice, g.sellprice from goods g ORDER BY g.clickcount DESC  -->
<!-- 		LIMIT #{startIndex}, #{pageSize} -->
		<![CDATA[SELECT g.id, g.name, g.img, g.marketprice, g.sellprice from goods g 
		where g.clickcount <= (select clickcount from goods ORDER BY clickcount DESC LIMIT #{startIndex}, 1)
		ORDER BY g.clickcount DESC LIMIT #{pageSize};]]>
	</select>
	
	<!-- 查询商品按卖出数量排序 -->
	<select id="queryGoodsSellcount" resultType="Goods">
		SELECT id, name, img, clickcount from goods ORDER BY sellcount DESC LIMIT 4
	</select>
	
	<!-- 查询商品按卖出数量排序带分页 -->
	<select id="queryGoodsSellcountPage" parameterType="PageModel" resultType="Goods">
<!-- 		SELECT  -->
<!-- 		g.id, g.name, g.img, g.marketprice, g.sellprice from goods g ORDER BY g.sellcount DESC  -->
<!-- 		LIMIT #{startIndex}, #{pageSize} -->
		<![CDATA[SELECT g.id, g.name, g.img, g.marketprice, g.sellprice 
		from goods g 
		WHERE g.sellcount <= (SELECT sellcount from goods ORDER BY sellcount LIMIT #{startIndex}, 1)
		ORDER BY g.sellcount DESC LIMIT #{pageSize};]]>
	</select>
	
	<!-- 按商品名称模糊查询(暂时去掉排序) -->
	<select id="queryGoodsByName" parameterType="PageModel" resultType="Goods">
		select g.id, g.img, g.`name`, g.marketprice, g.sellprice from goods g where g.`name` LIKE '${pageQuery.name}%'
<!-- 		ORDER BY g.createtime DESC -->
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<!-- 查询分类商品数量 -->
	<select id="queryGoodsCategoryCount" parameterType="Goods" resultType="int">
		select goodscount from category cat where cat.id = #{categoryId}
	</select>
	
	<!-- 按分类查询商品 -->
	<select id="queryGoodsByCategory" parameterType="PageModel"  resultType="Goods">
<!--  		select g.id, g.img, g.`name`, g.marketprice, g.sellprice from category cat -->
<!--  		LEFT JOIN goods g on cat.id = g.categoryId -->
<!--  		where cat.id = #{pageQuery.categoryId} -->
<!--  		LIMIT #{startIndex}, #{pageSize} -->
		
 		<![CDATA[SELECT g.id, g.img, g.`name`, g.marketprice, g.sellprice from goods g
 		where g.categoryId = #{pageQuery.categoryId} AND g.createtime <= (SELECT createtime from goods where categoryId = #{pageQuery.categoryId} ORDER BY createtime DESC LIMIT #{startIndex}, 1)
 		ORDER BY g.createtime DESC
 		LIMIT #{pageSize}]]>
	</select>
	
	<resultMap type="Goods" id="queryGoodsByIdResultMap">
		<id column="id" property="id"/>
		<result column="img" property="img"/>
		<result column="name" property="name"/>
		<result column="marketprice" property="marketprice"/>
		<result column="sellprice" property="sellprice"/>
		<result column="stock" property="stock"/>
		<result column="clickcount" property="clickcount"/>
		<result column="sellcount" property="sellcount"/>
		<result column="commentCount" property="commentCount"/>
		<result column="desc" property="desc"/>
		
		<collection property="goodsDesc" ofType="GoodsDesc">
			<id column="gdid" property="id"/>
			<result column="gdname" property="name"/>
			<result column="gdval" property="val"/>
		</collection>
		
		<collection property="goodsTag" ofType="GoodsTag">
			<id column="tid" property="id"/>
			<result column="tname" property="name"/>
			<result column="tcount" property="count"/>
		</collection>
	</resultMap>
	
	<!-- 通过id查找商品 -->
	<select id="queryGoodsById" parameterType="Integer" resultMap="queryGoodsByIdResultMap">
<!-- 		select g.id, g.img, g.`name`, g.marketprice, g.sellprice, g.desc from goods g where g.id = #{id} limit 1 -->
		select g.id, g.img, g.`name`, g.marketprice, g.sellprice, g.stock, g.clickcount, g.sellcount, g.commentCount, 
		g.desc, gd.id gdid, gd.`name` gdname, gd.val gdval, t.id tid, t.`name` tname, t.count tcount
		from goods g
		LEFT JOIN goodsdesc gd ON g.id = gd.goodsId
		LEFT JOIN goodstag t ON g.id = t.goodsId
		where g.id = #{id}
	</select>
	
	<select id="queryGoodsByIdSplit" parameterType="SQLAdapter" resultMap="queryGoodsByIdResultMap">
		${sql}
	</select>
	
	<!-- 更新点击数 -->
	<update id="updateClickCount" parameterType="Integer">
  		update goods set clickcount = clickcount + 1 where id = #{id}
<!--  		update goods set marketprice = 150 where id = #{id} -->
	</update>

	<!-- 更新卖出数 -->
	<update id="updateSellCount" parameterType="List">
		<foreach collection="list" item="item" index="index" separator=";">
			update goods
			<set>
				sellcount = sellcount + #{item.num}
			</set>
			where id = #{item.goodsId}
		</foreach>
	</update>
	
	<update id="updateCommentCount" parameterType="Integer">
		update goods set commentCount = commentCount + 1 where id = #{id}
	</update>
	
	<update id="updateStokc" parameterType="List">
		<foreach collection="list" item="item" index="index" separator=";">
			update goods
			<set>
				stock = stock - #{item.num}
			</set>
			where id = #{item.goodsId}
		</foreach>
	</update>
	
	<select id="preciseSearch" parameterType="PageModel" resultType="Goods">
<!-- 		<![CDATA[select g.id, g.`name`, g.img, g.marketprice, g.sellprice from goods g FORCE INDEX(idx_sort)
		where g.brandId = #{pageQuery.brandId} AND g.categoryId = #{pageQuery.categoryId} 
		AND g.sellprice >= #{pageQuery.startRange} and g.sellprice <= #{pageQuery.endRange} and g.`name` LIKE '${pageQuery.name}%' 
		ORDER BY g.clickcount DESC, g.sellcount DESC, g.commentCount DESC, g.createtime DESC 
		LIMIT #{startIndex}, #{pageSize}]]> -->
		
		<![CDATA[select g.id, g.`name`, g.img, g.marketprice, g.sellprice from goods g JOIN 
		(select id from goods
		where brandId = #{pageQuery.brandId} AND categoryId = #{pageQuery.categoryId} AND sellprice >= #{pageQuery.startRange} 
		AND sellprice <= #{pageQuery.endRange} and `name` LIKE '${pageQuery.name}%'
		ORDER BY clickcount DESC, sellcount DESC, commentCount DESC, createtime DESC 
		LIMIT #{startIndex}, #{pageSize}) g2 ON g.id = g2.id]]>
	</select>
	
	<select id="preciseSearchCount" parameterType="Goods" resultType="int">
		<![CDATA[select COUNT(*) from goods g
		where g.brandId = #{brandId} AND g.categoryId = #{categoryId} 
		AND g.sellprice >= #{startRange} and g.sellprice <= #{endRange} and g.`name` LIKE '${name}%']]>
	</select>
</mapper>