<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.GoodsTagMapper">
	<insert id="insertTag" parameterType="GoodsTag">
		INSERT INTO goodstag(name, count, userId, goodsId) 
		VALUES(#{name}, #{count}, #{userId}, #{goodsId})
	</insert>
	
	<insert id="insertTagSplit" parameterType="SQLAdapter">
		${sql}
	</insert>
	
	<update id="updateTagCount" parameterType="Integer">
		update goodstag set count = count + 1 where id = #{id}
	</update>
	
	<update id="updateTagCountSplit" parameterType="SQLAdapter">
		${sql}
	</update>
</mapper>