<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.OrderMapper">
	<select id="queryOrderList" parameterType="Integer" resultType="Order">
		select * from `order` where userId = #{userId} 
		ORDER BY createtime LIMIT 0, 5
	</select>
	
	<!-- 查询订单分页resultMap -->
	<resultMap type="PageModel" id="queryOrderPageResultMap">
		<result column="pageNow" property="pageNow"/>
		<result column="pageSize" property="pageSize"/>
		<result column="totalcount" property="totalCount"/>
	
		<collection property="list" ofType="Order">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="addr" property="addr"/>
			<result column="mobile" property="mobile"/>
			<result column="totalprice" property="totalprice"/>
			<result column="payWay" property="payWay"/>
			<result column="state" property="state"/>
			<result column="userId" property="userId"/>
			<result column="createtime" property="createtime"/>
		</collection>
	</resultMap>
	
	<!-- 查询订单数量 -->
	<select id="queryOrderCount" parameterType="PageModel" resultType="int">
		select count(*) from `order` o where o.userId = #{pageQuery.userId}
	</select>
	
	<!-- 查询订单分页 -->
	<select id="queryOrderPage" parameterType="PageModel" resultType="Order">
		select o.* from `order` o where o.userId = #{pageQuery.userId}
		ORDER BY createtime LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
		insert into `order`(name, addr, mobile, totalprice, userId, createtime)
		VALUES(#{name}, #{addr}, #{mobile}, 
		#{totalprice}, #{userId}, SYSDATE())
	</insert>
</mapper>