<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.ScorelogMapper">
	<insert id="insertScorelog" parameterType="Scorelog">
		INSERT INTO scorelog(info, score, userId, createtime)
		values(#{info}, #{score}, #{userId}, SYSDATE())
	</insert>
	
	<insert id="insertScorelogSplit" parameterType="SQLAdapter">
		${sql}
	</insert>
	
	<select id="queryScorelog" parameterType="Integer" resultType="Scorelog">
		SELECT * FROM `scorelog` where userId = #{id} LIMIT 10
	</select>
	
	<select id="queryScorelogSplit" parameterType="SQLAdapter" resultType="Scorelog">
		${sql}
	</select>
</mapper>