<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.UserMapper">
	<!-- 插入用户 -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into `user`(username, password, email, addr, mobile, createtime)
		VALUES(#{username}, #{password},
		#{email}, #{addr}, #{mobile}, SYSDATE())
	</insert>
	
	<!-- 查询用户 -->
	<select id="queryUser" parameterType="User" resultType="User">
		select u.*, ul.`name` level, ul.percent  
		from `user` u, userlevel ul
		<where>
			<if test="username != null">
				and u.username = '${username}'
			</if>
			<if test="password != null">
				and u.password = '${password}' 
			</if>
		</where>
		and u.score >= ul.score
		ORDER BY ul.score DESC
		limit 1
	</select>
	
	<update id="updateCommentCount" parameterType="Integer">
		update `user` set commentCount = commentCount + 1 where id = #{id}
	</update>
	
	<update id="updateCollectCount" parameterType="Integer">
		update `user` set collectCount = collectCount + 1 where id = #{id}
	</update>
	
	<update id="updateScore" parameterType="Scorelog">
		update `user` set score = score + #{score} where id = #{userId}
	</update>
	
	<update id="updateOrderCount" parameterType="Integer">
		update `user` set orderCount = orderCount + 1 where id = #{id}
	</update>
	
	<update id="updateGold" parameterType="Map">
		update `user` set gold = gold - #{gold} where id = #{id} 
	</update>
</mapper>