<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.MyGoodsMapper">
	<!-- 查询热卖和广告下面商品查询 -->
	<select id="queryHotSellAndAdvertDownGoods" resultType="Goods">
		(select name, img, marketPrice, sellPrice from goods where isSell = 0 and isHotSell = 0
		ORDER BY sort ASC
		LIMIT 5)
		UNION ALL
		(select name, img, marketPrice, sellPrice from goods where isSell = 0 and isAdvertDown = 0
		ORDER BY sort ASC
		LIMIT 4)
	</select>
	
	<!-- 查询首页推荐商品resultMap -->
	<resultMap type="MyRecommendGoods" id="queryHomeRecommendGoodsResultMap">
		<id column="cat2Id" property="categoryId"/>
		<result column="cat2Name" property="categoryName"/>
		<result column="cat2Img" property="categoryImg"/>
		<collection property="childCategorys" ofType="MyCategory">
			<id column="cat3Id" property="id"/>
			<result column="cat3Name" property="name"/>
		</collection>
		<collection property="recommendGoods" ofType="Goods">
			<id column="goodId" property="id"/>
			<result column="goodName" property="name"/>
			<result column="goodImg" property="img"/>
			<result column="goodCategoryId" property="categoryid"/>
			<result column="goodMarketPrice" property="marketprice"/>
			<result column="goodSellPrice" property="sellprice"/>
		</collection>
	</resultMap>
	
	<!-- 查询首页推荐商品 -->
	<select id="queryHomeRecommendGoods" resultMap="queryHomeRecommendGoodsResultMap">
		select g.id goodId, g.name goodName, g.img goodImg, g.categoryId goodCategoryId, g.marketPrice goodMarketPrice, 
		g.sellPrice goodSellPrice, a.id cat3Id, a.`name` cat3Name, b.id cat2Id, b.`name` cat2Name, b.img cat2Img
		from goods g, category a, category b, category c
		where g.isSell = 0 and g.isRecommend = 0 and g.categoryId = a.id and a.parentId = b.id and b.parentId = c.id
		ORDER BY c.sort ASC, b.sort ASC, g.sort ASC
		LIMIT 20
	</select>
	
	<!-- 查询商品详情resultMap -->
	<resultMap type="MyGoods" id="queryGoodsDetailsResultMap">
		<id column="id" property="id"/>
		<result column="pos" property="pos"/>
		<result column="img" property="img"/>
		<result column="name" property="name"/>
		<result column="unit" property="unit"/>
		<result column="weight" property="weight"/>
		<result column="sellPrice" property="sellprice"/>
		<result column="marketPrice" property="marketprice"/>
		<result column="score" property="score"/>
		<result column="details" property="details"/>
		<collection property="goodsdescs" ofType="Goodsdesc">
			<id column="desid" property="id"/>
			<result column="type" property="type"/>
			<result column="desname" property="name"/>
			<result column="val" property="val"/>
		</collection>
	</resultMap>
	
	<!-- 查询商品详情 --> 
	<select id="queryGoodsDetails" parameterType="String" resultMap="queryGoodsDetailsResultMap">
		select CONCAT('首页','>', c.`name`, '>', g.brand, '>', g.`name`) pos, g.img, g.name, g.id, g.unit, g.weight, g.sellPrice, g.marketPrice, g.score, g.details, des.id desid, des.type, des.`name` desname, des.val
		from goods g
		LEFT JOIN goodsdesc des ON g.id = des.goodsId
		LEFT JOIN category c on g.categoryId = c.id
		where g.id = #{goodsId}
	</select>
	
	<!-- 查询商品评论列表resultMap -->
	<resultMap type="MyComment" id="queryCommentsResultMap">
		<id column="cid" property="id"/>
		<result column="content" property="content"/>
		<result column="score" property="score"/>
		<result column="createtime" property="createtime"/>
		<association property="user" javaType="User">
			<id column="uid" property="id"/>
			<result column="head" property="head"/>
			<result column="username" property="username"/>
		</association>
	</resultMap>
	
	<!-- 查询商品评论列表 -->
	<select id="queryComments" parameterType="String" resultMap="queryCommentsResultMap">
		SELECT u.id uid, u.head, u.username, c.id cid, c.content, c.score, c.createtime  FROM `comment` c
		LEFT JOIN user u on u.id = c.userId
		where c.goodsId = #{goodsId}
	</select>
	
	<!-- 查询商品咨询列表resultMap -->
	<resultMap type="MyConsultation" id="queryConsultationsResultMap">
		<id column="cid" property="id"/>
		<result column="content" property="content"/>
		<result column="createtime" property="createtime"/>
		<result column="adminHead" property="adminhead"/>
		<result column="adminName" property="adminname"/>
		<result column="adminContent" property="admincontent"/>
		<association property="user" javaType="User">
			<id column="uid" property="id"/>
			<result column="head" property="head"/>
			<result column="username" property="username"/>
		</association>
	</resultMap>
	
	<!-- 查询商品咨询列表 -->
	<select id="queryConsultations" parameterType="String" resultMap="queryConsultationsResultMap">
		SELECT u.id uid, u.head, u.username, c.id cid, c.content, c.createtime, c.adminHead, c.adminName, c.adminContent 
		FROM `consultation` c
		LEFT JOIN `user` u on c.userId = u.id
		where c.goodsId = #{goodsId}
	</select>
</mapper>